@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.headline {
		@apply text-6xl font-medium ease-in-out md:text-7xl lg:text-8xl;
	}
	.inputPrimary {
		@apply cursor-none bg-neutral-200 py-3 px-5 text-black transition-colors ease-in-out placeholder:text-neutral-600 placeholder:opacity-100 focus:outline-none  dark:bg-lightgray dark:text-white dark:placeholder:text-white dark:placeholder:opacity-50;
	}
	.buttonPrimary {
		@apply bg-neutral-200 px-8 py-2.5 text-center text-base transition-colors ease-in-out hover:bg-neutral-300 active:bg-neutral-200 dark:bg-darkgray dark:hover:bg-lightgray dark:active:bg-darkgray;
	}
	.buttonSecondary {
		@apply bg-neutral-300 px-8 py-2.5 text-center text-base transition-colors ease-in-out hover:bg-opacity-80 active:bg-opacity-100 dark:bg-lightgray dark:hover:bg-lightgray dark:hover:bg-opacity-80 dark:active:bg-lightgray;
	}

	.projectHeadline {
		@apply text-6xl font-medium ease-in-out md:text-7xl lg:text-8xl;
	}
	.projectSubheading {
		@apply text-lg lg:text-2xl;
	}

	.projectH1 {
		@apply text-2xl lg:text-7xl leading-normal;
	}

	.projectH2 {
		@apply text-xl lg:text-3xl;
	}

	.projectH3 {
		@apply text-xl tracking-wide;
	}
	
	.projectText {
		@apply text-xl leading-relaxed lg:text-2xl lg:leading-relaxed;
	}

	.projectSmallerText {
		@apply text-lg leading-relaxed lg:text-xl lg:leading-relaxed;
	}
}

@font-face {
	font-family: 'Aeonik';
	src: url('/fonts/Aeonik-Regular.woff2') format('woff2'),
		url('/fonts/Aeonik-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Aeonik';
	src: url('/fonts/Aeonik-Medium.woff2') format('woff2'),
		url('/fonts/Aeonik-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Aeonik';
	src: url('/fonts/Aeonik-Regular.woff2') format('woff2'),
		url('/fonts/Aeonik-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Aeonik';
	src: url('/fonts/Aeonik-Medium.woff2') format('woff2'),
		url('/fonts/Aeonik-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

.noScroll::-webkit-scrollbar {
	display: none;
}

.noScroll {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

@media only screen and (min-width: 1024px) {
	a,
	button {
		cursor: none;
	}
}

::-moz-selection {
	/* Code for Firefox */
	color: white;
	background: #000;
}

::selection {
	color: white;
	background: #000;
}
